<!-- Features -->
<div id="features-wrapper">
    <section id="features" class="container">

        <div class="row">
            <div class="4u">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"></a>
                    <header>
                        <h3>account info section 1</h3>
                    </header>
                    <p>content</p>
                </section>

            </div>
            <div class="4u">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"></a>
                    <header>
                        <h3>account info section 2</h3>
                    </header>
                    <p>content
                </section>

            </div>
            <div class="4u">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"></a>
                    <header>
                        <h3>account info section 3</h3>
                    </header>
                    <p>content</p>
                </section>

            </div>
        </div>
    </section>
</div>
