<!-- Features -->
<div id="features-wrapper">
  <section id="features" class="container">
    
    <div class="row">
      <div class="4u">
	
	<!-- Feature -->
	<section>
	  <a href="#" class="image featured"><img src="images/manu.jpg" alt="" /></a>
	  <header>
	    <h3>introduction</h3>
	  </header>
	  <p>enter some basic activity related content like account creation and search</p>
	</section>

      </div>
      <div class="4u">

	<!-- Feature -->
	<section>
	  <a href="#" class="image featured"><img src="images/bike.jpg" alt="" /></a>
	  <header>
	    <h3>phase 1 activity content</h3>
	  </header>
	  <p>enter some basic process related content here. such as how to browse around and find interesting stuff</p>
	</section>
	
      </div>
      <div class="4u">
	
	<!-- Feature -->
	<section>
	  <a href="#" class="image featured"><img src="images/run.jpg" alt="" /></a>
	  <header>
	    <h3>phase 2 activity content</h3>
	  </header>
	  <p>enter some next step acivities such as creating races and updating content </p>
	</section>
	
      </div>
    </div>
    <ul class="actions">
      <li><a href="#" class="button icon fa-file">Tell Me More</a></li>
    </ul>
  </section>		
</div>
