<!-- Footer -->
<div id="footer-wrapper">
    <div id="footer" class="container">
        <form method="post" action="/login">
            <h2>Create An Account</h2>
            <div class="row" style="width: 50%; margin: auto;">
                <div class="12u">
                    <input name="email" placeholder="email" type="text"/>
                </div>
                <div class="12u">
                    <input name="password" placeholder="password" type="text" />
                </div>
            </div>
            <div class="row 50%">
                <div class="12u">
                    <button type="submit" class="form-button-submit button icon fa-key">log in</button>
                </div>
            </div>
        </form>
    </div>
</div>
